<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">

  <a class="navbar-brand me-5" routerLink="/">CineZone</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">


    <ul class="navbar-nav me-auto">
      <li class="nav-item me-3">
        <a
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Home</a
        >
      </li>
      <li class="nav-item me-3">
        <a routerLink="/movies" routerLinkActive="active" class="nav-link">Movies</a>
      </li>
      @if(authService.user){
        <li class="nav-item me-3">
          <a (click)="onCreate()" class="nav-link">
            <i class="fas fa-plus "></i> Ajouter un Film
          </a>
        </li>}
    </ul>
    <ul class="navbar-nav ms-auto">
      @if(authService.user){
        <li class="nav-item me-3">
          <a routerLink="/profile" routerLinkActive="active" class="nav-link"><i class='fa fa-user me-2' style='color:#ffffff' aria-label="profile"></i> <strong>{{ authService.user.name }}</strong></a>
        </li>

        <li class="nav-item me-3">
          <a (click)="logout($event)" class="nav-link">
            <i class="fa fa-sign-out" aria-hidden="true" aria-label="logout"></i>
          </a>
        </li>
      } @else {
        <li class="nav-item me-3">
          <a routerLink="/login" routerLinkActive="active" class="nav-link">Connexion</a>
        </li>
        <li class="nav-item me-3">
          <a routerLink="/signup" routerLinkActive="active" class="nav-link">Inscription</a>
        </li>
      }
    </ul>
  </div>
</nav>

