<div class="movie-container container">
  <h2 class="text-center mb-4">Liste des Films</h2>

  <!-- Message de chargement -->
  @if (loading) {
    <div class="text-center text-muted">
      Chargement en cours...
    </div>
  }

  <!-- Message si aucun film -->
  @if (!loading && movies.length === 0) {
    <div class="text-center text-warning">
      Aucun film disponible.
    </div>
  }

  <!-- Liste des films -->
  @if (!loading && movies.length > 0) {
    <div class="row">
      @for (movie of movies; track $index) {
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="movie-card h-100">
            <h3>{{ movie.title }}</h3>
            <p><strong>Réalisateur :</strong> {{ movie.director }}</p>
            <p><strong>Note :</strong> {{ movie.rating }}/10</p>
            <p><strong>Année :</strong> {{ movie.release_year }}</p>
            <p><strong>Catégorie :</strong> {{ movie.category_id }}</p>
            <div class="card-footer text-end">
          <a (click)="onView(movie.id)" class="btn btn-sm btn-primary">Voir</a>
          <a (click)="onEdit(movie.id)" class="btn btn-sm btn-warning mx-2">Modifier</a>
          <a (click)="onDelete(movie.id)" class="btn btn-sm btn-danger">Supprimer</a>
          </div>
          </div>

        </div>}
    </div>}
</div>

