/* --- Formulaires --- */
.form-control {
  background-color: #1e1e1e;
  color: #ffffff!important;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 0.6rem 1rem;
}

.form-control:focus {
  background-color: #ffffff;
  color: #000000!important;
  border-color: #f0ce0d;
  box-shadow: 0 0 0 0.2rem rgba(13, 202, 240, 0.25);
}

input::placeholder {
  color: rgb(82, 82, 82);
  opacity: 1; /* Facultatif : pour s'assurer que le texte est bien visible */
}
/* --- Liens --- */
a {
  color: #f0ce0d;
  text-decoration: none;
}

a:hover {
  color: #f0ce0d;
  text-decoration: underline;
}

/* --- Boutons --- */
.btn-primary {
  background-color: #f0ce0d;
  border: none;
  color: #121212;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #f0ce0d;
  color: #fff;
}

.btn-outline-primary {
  border-color: #f0ce0d;
  color: #f0ce0d;
}

.btn-outline-primary:hover {
  background-color: #f0ce0d;
  color: #121212;
}
